{% extends 'base.html.twig' %}

{% block title %}Hello MarkdownController!{% endblock %}

{% block body %}
    <main>
        <div>
            {{ form(form) }}
        </div>
        <p>Result:</p>
        <div id="markdown_result">
        </div>
    </main>
{% endblock %}
